[core]
	excludesfile = ~/.gitignore_global
	autocrlf = false
	ignorecase = false
	safecrlf = warn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = current
[core]
	editor = emacs
[diff]
	tool = ediff
[merge]
	tool = ediff
[difftool "ediff"]
	cmd = emacsclient -n -a \"\" --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
[mergetool "ediff"]
	cmd = emacsclient -n -a \"\" --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
[include]
	path = ~/.gitconfig_local
