[user]
	name = Vincent Zhang
	email = seagle0128@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = emacs
	autocrlf = false
	ignorecase = false
	safecrlf = warn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = current
