[core]
	include = ~/.gitconfig_local
	excludesfile = ~/.gitignore_global
	autocrlf = false
	ignorecase = false
	safecrlf = warn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = current
